@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Criando Variáveis */
:root{
    --preto: #323031;
    --azul: #1989AC;
    --rosa: #DA4167;
    --verde: #9BC53D;
    --branco: #FCFCFC;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--preto);
}
::-webkit-scrollbar-thumb {
    background: var(--rosa);
}
::-webkit-scrollbar-thumb:hover {
    background: #a83350;
}

/* Animações */
@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Classes genêricas */
.bg-blue {
    background: var(--azul);
}
.bg-pink {
    background: var(--rosa);
}
.text-white {
    color: var(--branco);
}
.text-blue{
    color: var(--azul);
}
.text-black{
    color: var(--preto);
}
.text-green {
    color: var(--verde);
}
.text-pink {
    color: var(--rosa);
}
.regular {
    font-weight: 200;
}
.normal {
    font-weight: 300;
}
.bold {
    font-weight: bold;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    font-size: 2.5rem;
} .to-right {
    align-self: flex-end;
} .to-left {
    align-self: flex-start;
}

.green-block {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--verde);
} .black-block {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--preto);
} .pink-block {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--rosa);
}

/* Setando scroll para ser flúido */
html {
    scroll-behavior: smooth;
}

/* Resetando CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Body */
body {
    background-color: var(--branco);
}

/* CABEÇALHO */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2rem 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.nav-item {
    border: none;
    border-radius: .75rem;
    padding: .7rem .7rem;
    background: transparent;

    color: var(--preto);
    outline: none;
    font-size: 1.4rem;

    transition: .2s;
} .nav-item:hover {
    background: #323031;
    color: #FCFCFC;
    cursor: pointer;
}

/* Seções */
/* HERO SECTION */
#hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

    margin-top: 4rem;
}

#money-icon {
    animation: upAndDown 3s ease-in-out infinite;
}

#hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-content h2 {
    font-size: 2.7rem;
}
#hero-content h1 {
    font-size: 4rem;
}

#app-button {
    margin-top: 2rem;

    padding: .7rem 2rem;
    background: var(--azul);

    outline: none;
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3rem;

    transition: .5s all;
} #app-button:hover {
    color: var(--branco);

    background: #35b7df;
}

/* Seção O projeto */
#project-section {
    display: flex;
    flex-direction: column;
    align-content: space-around;

    margin-top: 6rem;
    padding: 3rem 1rem;
    background: var(--rosa);

    color: var(--branco);
}

#project-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
} #project-content p {
    font-size: 2rem;

    width: 800px;
    text-align: justify;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    background: #32303159;
    
    padding: 1rem;
    border-radius: .75rem;
} #social-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} #vitor-img {
    border-radius: 50%;
    height: 200px;
} #svg-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
} .svg-button svg {
    height: 45px;
    filter: invert(1);
}

.svg-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background: transparent;
    outline: none;
    border: 1px solid var(--branco);
    border-radius: .75rem;
    padding: .5rem .7rem;

    font-size: 1rem;
    color: var(--branco);

    transition: .5s;
} .svg-button:hover {
    cursor: pointer;

    padding: .5rem .7rem;

    background: var(--preto);
    border: 1px solid var(--preto);
    
    color: var(--branco);
}

/* Seção Como funciona */
#como-funciona-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 1rem;

    background: var(--preto);
    color: var(--branco);
}

#como-funciona-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
} #como-funciona-content p {
    font-size: 2rem;

    width: 800px;
    text-align: justify;
}

/* Seção Suporte-nos */
#suporte-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 1rem;
}

#suporte-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
}

#panel {
    width: 700px;
    padding: 2rem;
    border-radius: .75rem;

    font-size: 1.7rem;
}

#pix-area {
    display: flex;
    align-items: center;
} #pix-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    background: var(--verde);
}

/* DASHBOARD */
#dashboard {
    display: flex;
}

/* BARRA LATERAL */
#db-lateralBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100vh;
    width: 270px;
    position: absolute;
    background: var(--preto);

    overflow: visible;

    color: var(--branco);
}

.db-logoCtner {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 1rem;
    margin-top: .5rem;
} .db-logoText {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--azul);
    
    font-size: 2rem;
}

.db-tSCtner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} .db-bgRounded {
    min-width: 330px;
    width: max-content;

    padding: .5rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    text-align: center;
} .db-bgRounded span {
    color: var(--verde);
} .db-bgRounded b {
    color: var(--preto);
}

.db-totalInputDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
} .db-totalInputDiv input {
    background: transparent;
    outline: none;
    border: none;
    width: 100px;

    font-size: 2rem;
    font-weight: bold;
    color: var(--verde);

    overflow: visible;
}

.db-sobraGlobalPositive {
    max-width: 300px;
    
} .db-sobraGlobalPositive b {
    color: #FCFCFC;
}
.db-sobraGlobalNegative {
    max-width: 300px;
    
} .db-sobraGlobalNegative b {
    color: red;
} .db-sobraGlobalNegative::after {
    content: 'Você esta no negativo! Reveja suas tabelas!';   
    font-size: .8rem; 
    display: block;
    color: var(--branco);
    background: #22222273;
    border-radius: .2rem;
    padding: .1rem;
}

.db-lb-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
} .db-lb-button, .db-lb-buttonSelected {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem;

    outline: none;
    border: none;
    background: transparent;
    
    font-size: 2.3rem;
    font-weight: 200;

    transition: .2s ease-out;
} .db-lb-button ion-icon, .db-lb-buttonSelected ion-icon {
    font-size: 3.2rem;
} .db-lb-button {
    color: var(--branco);
} .db-lb-buttonSelected {
    color: var(--azul);
} .db-lb-button:hover, .db-lb-buttonSelected:hover {
    background: #222222;
    cursor: pointer;
}

/* DASHBOARD VIEWS ON OFF */
.db-viewTabelaOn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
}
.db-viewTabelaOff {
    display: none;
}
.db-viewAnalyticsOn {
    display: grid;
}
.db-viewAnalyticsOff {
    display: none;
}

/* TABELA VIEW */
#db-tabelaView {
    position: relative;
    right: calc(-18% - 270px);
    margin-top: 2rem;
}

.db-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;

    background: var(--preto);

    color: var(--branco);

    border-radius: 1.2rem;

    transition: .5s ease-out;
} .db-tabela:hover {
    transform: translateY(-1px);
    box-shadow: 1px 1px 3px var(--preto);
}
.db-tabela header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: min-content;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
    background: var(--verde);
}
.db-tabela header ion-icon {
    font-size: 1.5rem;
    align-self: flex-end;
    margin-right: 1rem;

    transition: .2s;
} .db-tabela header ion-icon:hover {
    cursor: pointer;
    color: var(--rosa);
}
.db-tabela header h1 {
    font-size: 2rem;
    text-transform: capitalize;
}

.db-tableDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    margin-bottom: .7rem;
}
.db-tableDiv h2 {
    font-weight: normal;
}
.db-tableDiv h2 span {
    font-weight: bold;
    color: var(--verde);
}

.db-divBtns {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.db-divBtns button {
    color: var(--branco);
    font-size: .8rem;

    background: var(--verde);
    outline: none;
    border: none;
    border-radius: .75rem;
    padding: .2rem .5rem;

    transition: .2s ease-out;
} .db-divBtns button:hover {
    cursor: pointer;
    background: #698b1f;
}

.db-tableSobra {
    background: #222222;
    font-size: 1rem;
    padding: .5rem;
    border-radius: .75rem;
}


.db-newTableBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 300;

    background: var(--rosa);
    outline: none;
    border: none;
    border-radius: 1.2rem;

    width: 180px;
    padding: .3rem;
    
    transition: .5s ease-out;
} .db-newTableBtn:hover {
    cursor: pointer;
    background: #a83350;
}

.db-newTableBtnErase {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 300;

    background: rgb(202, 16, 16);
    outline: none;
    border: none;
    border-radius: 1.2rem;

    width: 180px;
    padding: .3rem;
    
    transition: .5s ease-out;
} .db-newTableBtnErase:hover {
    cursor: pointer;
    background: rgb(145, 18, 18);
}

.db-divBtnsNewErase {
    display: grid;
    gap: .5rem;
}

/* ANALYTICS VIEW */
#db-analyticsView {
    position: absolute;
    top: 5%;
    right: calc(50% - 270px);
}