@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Criando Variáveis */
:root{
    --preto: #323031;
    --azul: #1989AC;
    --rosa: #DA4167;
    --verde: #9BC53D;
    --branco: #FCFCFC;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--rosa);
}
::-webkit-scrollbar-thumb:hover {
    background: #a83350;
}

/* Animações */
@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Classes genêricas */
.bg-blue {
    background: var(--azul);
}
.bg-pink {
    background: var(--rosa);
}
.text-white {
    color: var(--branco);
}
.text-blue{
    color: var(--azul);
}
.text-black{
    color: var(--preto);
}
.text-green {
    color: var(--verde);
}
.text-pink {
    color: var(--rosa);
}
.regular {
    font-weight: 200;
}
.normal {
    font-weight: 300;
}
.bold {
    font-weight: bold;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    font-size: 2.5rem;
} .to-right {
    align-self: flex-end;
} .to-left {
    align-self: flex-start;
}

.green-block {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--verde);
} .black-block {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--preto);
} .pink-block {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--rosa);
}

/* Setando scroll para ser flúido */
html {
    scroll-behavior: smooth;
}

/* Resetando CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Body */
body {
    background-color: var(--branco);
}

/* CABEÇALHO */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2rem 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.nav-item {
    border: none;
    border-radius: .75rem;
    padding: .7rem .7rem;
    background: transparent;

    color: var(--preto);
    outline: none;
    font-size: 1.4rem;

    transition: .2s;
} .nav-item:hover {
    background: #323031;
    color: #FCFCFC;
    cursor: pointer;
}

/* Seções */
/* HERO SECTION */
#hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

    margin-top: 4rem;
}

#money-icon {
    animation: upAndDown 3s ease-in-out infinite;
}

#hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-content h2 {
    font-size: 2.7rem;
    text-align: justify;
    padding-right: 3rem;
}
#hero-content h1 {
    font-size: 4rem;
}

#app-button {
    margin-top: 2rem;

    padding: .7rem 2rem;
    background: var(--azul);

    outline: none;
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3rem;

    transition: .5s all;
} #app-button:hover {
    color: var(--branco);

    background: #35b7df;
}

/* Seção O projeto */
#project-section {
    display: flex;
    flex-direction: column;
    align-content: space-around;

    margin-top: 6rem;
    padding: 3rem 1rem;
    background: var(--rosa);

    color: var(--branco);
}

#project-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
} #project-content p {
    font-size: 2rem;

    text-align: justify;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    background: #32303159;
    
    padding: 1rem;
    border-radius: .75rem;
} #social-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} #vitor-img {
    border-radius: 50%;
    height: 200px;
} #svg-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
} .svg-button svg {
    height: 45px;
    filter: invert(1);
}

.svg-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background: transparent;
    outline: none;
    border: 1px solid var(--branco);
    border-radius: .75rem;
    padding: .5rem .7rem;

    font-size: 1rem;
    color: var(--branco);

    transition: .5s;
} .svg-button:hover {
    cursor: pointer;

    padding: .5rem .7rem;

    background: var(--preto);
    border: 1px solid var(--preto);
    
    color: var(--branco);
}

/* Seção Como funciona */
#como-funciona-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 1rem;

    background: var(--preto);
    color: var(--branco);
}

#como-funciona-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
} #como-funciona-content p {
    font-size: 2rem;

    text-align: justify;
}

/* Seção Suporte-nos */
#suporte-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 1rem;
}

#suporte-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
}

#panel {
    padding: 2rem;
    border-radius: .75rem;

    font-size: 1.7rem;
}

#pix-area {
    display: flex;
    align-items: center;
} #pix-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    background: var(--verde);
}

/* MEDIA QUERIES PÁGINA PRINCIPAL */
@media (max-width: 1470px) {
    #como-funciona-content img {
        height: 250px;
    }
}

@media (max-width: 1370px) {
    #pix-area {
        flex-direction: column;
    }

    #hero-content h2 {
        font-size: 2rem;
    } #money-icon {
        height: 500px;
    }
}

@media (max-width: 1330px) {
    #como-funciona-content img {
        height: 200px;
    }
}

@media (max-width: 1260px) {
    #como-funciona-content {
        gap: 2rem;
    } #como-funciona-content p {
        font-size: 1.5rem;
    }

    #project-content {
        gap: 2rem;
    } #project-content p {
        font-size: 1.5rem;
    }

    #suporte-content {
        gap: 2rem;
    } #panel p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1130px) {
    #como-funciona-content {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 1150px) {
    #suporte-content {
        flex-direction: column;
    }

    #hero-content h2 {
        font-size: 2rem;
    } #hero-content h1 {
        font-size: 3rem;
    } #money-icon {
        height: 400px;
    }
}

@media (max-width: 900px) {
    #project-content {
        flex-direction: column;
    }
}

@media (max-width: 896px) {
    header nav {
        display: none;
    }

    #hero-content h2 {
        font-size: 1.5rem;
    } #hero-content h1 {
        font-size: 2.5rem;
    } #money-icon {
        height: 350px;
    }
}

@media (max-width: 800px) {
    #project-content p {
        padding: 1rem;
    }
}

@media (max-width: 760px) {
    #hero-content h2 {
        font-size: 1.3rem;
    } #hero-content h1 {
        font-size: 2rem;
    } #money-icon {
        height: 300px;
    } #app-button {
        font-size: 1rem;
    }
}

@media (max-width: 630px) {
    #money-icon {
        height: 250px;
    } #hero {
        flex-direction: column;
        gap: 0rem;
    } #hero-content h2 {
        font-size: 1.6rem;
        padding: 1rem;
    }

    header img {
        height: 50px;
    }
}

@media (max-width: 420px) {
    #svg-content {
        gap: 1rem;
    } #svg-content button {
        font-size: 1rem;
    } #svg-content svg {
        height: 40px;
    } #vitor-img {
        height: 150px;
    }

    .section-title {
        font-size: 1.5rem;
    }

    #panel p {
        font-size: 1.3rem;
    } #pix-info-text {
        font-size: .8rem;
    } #pix-area img {
        height: 250px;
    }
}

/* DASHBOARD GLOBAL */
.db-lb-buttonSelected, .db-lb-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;
    border: none;
    min-width: 140px;

    font-size: 2rem;

    cursor: pointer;

    transition: .5s;
} .db-lb-buttonSelected ion-icon, .db-lb-button ion-icon {
    font-size: 2.2rem;
}

.db-lb-button {
    color: var(--branco);

    background: #242323;

    border-bottom: 3px solid transparent;
}

.db-lb-buttonSelected {
    color: var(--azul);

    background: #0c0c0c;
    
    border-bottom: 3px solid var(--azul);
}

.db-viewTabelaOn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;

    height: max-content;
    
    padding-top: 1rem;
    margin: 0 auto;
    padding-bottom: 20rem;
    padding-left: 15rem;
} .db-viewTabelaOff {
    display: none;
}

.db-sobraGlobalPositive {
    color: var(--verde);
} .db-sobraGlobalNegative {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(177, 30, 30);
} .db-sobraGlobalNegative::after {
    content: 'Você está no negativo!';

    display: block;

    color: var(--branco);
    font-size: .8rem;

    background: red;
    padding: .2rem .4rem;
    border-radius: .3rem;
}

.db-viewAnalyticsOn {
    display: grid;

    padding-top: 1rem;
} .db-viewAnalyticsOff {
    display: none;
}

@media (max-width: 1570px) {
    .db-viewTabelaOn {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1310px) {
    .db-viewTabelaOn {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1050px) {
    .db-viewTabelaOn {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 760px) {
    .db-viewTabelaOn {
        padding-left: 0rem;
        padding-top: 7rem;
    }

    .db-lb-buttonSelected, .db-lb-button {
        font-size: 1.2rem;
    } .db-lb-buttonSelected ion-icon, .db-lb-button ion-icon {
        font-size: 2rem;
    }
}

@media (max-width: 535px) {
    .db-viewTabelaOn {
        grid-template-columns: 1fr;
    }

    .db-lb-button {
        flex-basis: 100%;
    }
    
    .db-lb-buttonSelected {
        flex-basis: 100%;
    }
}